<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Rerease"/>
    <!-- アプリ設定 -->
    <!-- フォーム開始位置 -->
    <add key="DefaultLocationX" value="0"/>
    <add key="DefaultLocationY" value="0"/>
    <!-- 初期フォームサイズ(数値以外を指定でスクリーンサイズ自動取得) -->
    <add key="DefaultFormWidth" value="1000"/>
    <add key="DefaultFormHeight" value="Auto"/>
    <!-- 移動距離 -->
    <add key="UpMoveDistance" value="300"/>
    <add key="DownMoveDistance" value="400"/>
    <add key="RightMoveDistance" value="200"/>
    <add key="LeftMoveDistance" value="200"/>
    <!-- 初期表示ズーム倍率 -->
    <add key="InitZoomRatio" value="0.5"/>
    <!-- ズーム倍率 -->
    <add key="ZoomInRatio" value="2.0"/>
    <add key="ZoomOutRatio" value="1.5"/>
    <!-- モードキー関連 -->
    <!-- 拡大/縮小モードキー -->
    <add key="ModeZoomKey" value="Shift"/>
    <!-- モードページ送りキー -->
    <add key="ModePageEjectKey" value="Ctrl"/>
    <!-- モード0ポイントキー -->
    <add key="ModeZeroPointKey" value="Alt"/>
    <!-- チェックキー -->
    <add key="CheckImgKey" value="Enter"/>
    <!-- ビュウアプリ起動キー -->
    <add key="LaunchViewKey" value="Space"/>
    <!-- 対象拡張子(画像ファイルかつ小文字のみ) -->
    <add key="TargetExtension" value=".jpg,.jepg,.png,.tiff,.gif,.bmp,.heic"/>
    <!-- フォルダ参照ダイアログ初期パス -->
    <add key="DefaultReferenceDir" value="C:\"/>
    <!-- ファイル読み込み対象範囲 -->
    <!-- OnlyCurrent:ルート直下のみ -->
    <!-- TopBottom  :ルート以下全てのフォルダ -->
    <add key="TargetRange" value="OnlyCurrent"/>
    <!-- オプションフォーム開始位置 -->
    <add key="DefaultOptionFormLocationX" value="Auto"/>
    <add key="DefaultOptionFormLocationY" value="Auto"/>
    <!-- ファイルリストフォーム開始位置 -->
    <add key="DefaultFileListFormLocationX" value="Auto"/>
    <add key="DefaultFileListFormLocationY" value="Auto"/>
    <!-- ビュウアプリパス(自身の場合、アプリ名のみで可) -->
    <!-- ペイント:C:\WINDOWS\system32\mspaint.exe -->
    <add key="LaunchViewAppPath" value="WFA.exe"/>
    <!-- XMLフォルダ名称 -->
    <add key="XmlFolderName" value="List"/>
  </appSettings>
</configuration>