<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- 対象フォルダパス -->
    <add key="TargetDir" value="D:\Root_Doc\SlideShow\村上さん写真集_+a"/>
    <!-- 表示時間(ミリ秒) -->
    <add key="ViewTime" value="1000"/>
    <!-- 表示時間倍数(「表示時間×倍数」が最終的な表示時間数) -->
    <add key="ViewTimeMultiple" value="3"/>
  </appSettings>
</configuration>