<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- 起動時オンフラグ -->
    <add key="IsInitOn" value="False"/>
    <!-- 起動時オン設定 -->
    <add key="IsInitMin" value="True"/>
  </appSettings>
</configuration>