<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="MTR_Proto_20180120"/>
    <!-- 置換設定 -->
    <!-- パターン出力ファイル名称 -->
    <add key="OutputPatternFile" value="PatternList.txt"/>

    <!-- XMLメモ
         「"」:&quot;
         「'」:&apos;
         「<」:&lt;
         「>」:&gt;
         「&」:&amp;
      -->
    <!-- 置換メモ
         空行削除(\r\n):(.*\r\n)(\r\n)*→$1
         空行削除(\n)  :(.*\n)(\n)*→$1
      -->
    <!-- デフォルト -->
    <!--
    <add key="Search01" value=""/>
    <add key="Search02" value=""/>
    <add key="Search03" value=""/>
    <add key="Search04" value=""/>
    <add key="Search05" value=""/>
    <add key="Search06" value=""/>
    <add key="Search07" value=""/>
    <add key="Search08" value=""/>
    <add key="Search09" value=""/>
    <add key="Search10" value=""/>
    <add key="Search11" value=""/>
    <add key="Search12" value=""/>
    <add key="Search13" value=""/>
    <add key="Search14" value=""/>
    <add key="Search15" value=""/>
    <add key="Search16" value=""/>
    <add key="Search17" value=""/>
    <add key="Search18" value=""/>
    <add key="Search19" value=""/>
    <add key="Search20" value=""/>
    <add key="Replace01" value=""/>
    <add key="Replace02" value=""/>
    <add key="Replace03" value=""/>
    <add key="Replace04" value=""/>
    <add key="Replace05" value=""/>
    <add key="Replace06" value=""/>
    <add key="Replace07" value=""/>
    <add key="Replace08" value=""/>
    <add key="Replace09" value=""/>
    <add key="Replace10" value=""/>
    <add key="Replace11" value=""/>
    <add key="Replace12" value=""/>
    <add key="Replace13" value=""/>
    <add key="Replace14" value=""/>
    <add key="Replace15" value=""/>
    <add key="Replace16" value=""/>
    <add key="Replace17" value=""/>
    <add key="Replace18" value=""/>
    <add key="Replace19" value=""/>
    <add key="Replace20" value=""/>
-->

    <!-- ディレクトリ一覧コマンド用 -->
    <!--
    <add key="Search01" value=".*&lt;DIR&gt; *\.*"/>
    <add key="Search02" value=".*個のファイル.*"/>
    <add key="Search03" value=".*ファイルの総数:.*"/>
    <add key="Search04" value=".*個のディレクトリ.*"/>
    <add key="Search05" value=".*ラベルがありません。.*"/>
    <add key="Search06" value=".*シリアル番号は.*"/>
    <add key="Search07" value="(.*\n)(\n)*"/>
    <add key="Search08" value="(.*\r\n)(\r\n)*"/>
    <add key="Search09" value="(.*のディレクトリ.*)(\r\n)"/>
    <add key="Search10" value=""/>
    <add key="Search11" value=""/>
    <add key="Search12" value=""/>
    <add key="Search13" value=""/>
    <add key="Search14" value=""/>
    <add key="Search15" value=""/>
    <add key="Search16" value=""/>
    <add key="Search17" value=""/>
    <add key="Search18" value=""/>
    <add key="Search19" value=""/>
    <add key="Search20" value=""/>
    <add key="Replace01" value=""/>
    <add key="Replace02" value=""/>
    <add key="Replace03" value=""/>
    <add key="Replace04" value=""/>
    <add key="Replace05" value=""/>
    <add key="Replace06" value=""/>
    <add key="Replace07" value="$1"/>
    <add key="Replace08" value="$1"/>
    <add key="Replace09" value="$2$1$2"/>
    <add key="Replace10" value=""/>
    <add key="Replace11" value=""/>
    <add key="Replace12" value=""/>
    <add key="Replace13" value=""/>
    <add key="Replace14" value=""/>
    <add key="Replace15" value=""/>
    <add key="Replace16" value=""/>
    <add key="Replace17" value=""/>
    <add key="Replace18" value=""/>
    <add key="Replace19" value=""/>
    <add key="Replace20" value=""/>
-->

    <!-- プラグインxml用 -->
    <add key="Search01" value="\t"/>
    <add key="Search02" value="( *)&lt;(.*)(\n)"/>
    <add key="Search03" value="&quot;(\n)"/>
    <add key="Search04" value="Plugin *Id=&quot;"/>
    <add key="Search05" value="&quot; *Assembly=&quot;"/>
    <add key="Search06" value="&quot; *Class=&quot;"/>
    <add key="Search07" value="&quot; *Singleton=&quot;"/>
    <add key="Search08" value="Group *Id=&quot;"/>
    <add key="Search09" value="&quot; *Interface=&quot;"/>
    <add key="Search10" value="&lt;/Group&gt; *"/>
    <add key="Search11" value=""/>
    <add key="Search12" value=""/>
    <add key="Search13" value=""/>
    <add key="Search14" value=""/>
    <add key="Search15" value=""/>
    <add key="Search16" value=""/>
    <add key="Search17" value=""/>
    <add key="Search18" value=""/>
    <add key="Search19" value="/&gt;"/>
    <add key="Search20" value="(.*\n)(\n)*"/>
    <add key="Replace01" value=" "/>
    <add key="Replace02" value="$3$1&lt;$2 "/>
    <add key="Replace03" value="&quot;"/>
    <add key="Replace04" value="Plugin Id=&quot;"/>
    <add key="Replace05" value="&quot; Assembly=&quot;"/>
    <add key="Replace06" value="&quot; Class=&quot;"/>
    <add key="Replace07" value="&quot; Singleton=&quot;"/>
    <add key="Replace08" value="Group Id=&quot;"/>
    <add key="Replace09" value="&quot; Interface=&quot;"/>
    <add key="Replace10" value="&lt;/Group&gt;"/>
    <add key="Replace11" value=""/>
    <add key="Replace12" value=""/>
    <add key="Replace13" value=""/>
    <add key="Replace14" value=""/>
    <add key="Replace15" value=""/>
    <add key="Replace16" value=""/>
    <add key="Replace17" value=""/>
    <add key="Replace18" value=""/>
    <add key="Replace19" value=" /&gt;"/>
    <add key="Replace20" value="$1"/>
  </appSettings>
</configuration>