<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Rerease"/>
    <!-- アプリ設定 -->
    <!--フォルダを指定しない場合、カレントディレクトリに出力-->
    <add key="OutputFolderName" value=""/>
    <add key="OutputFileName" value="XVIC"/>
    <!--コマンドライン引数-->
    <!--サイレントモードオプション-->
    <add key="CmdOptionSiletMode" value="/s"/>
  </appSettings>
</configuration>