<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- コピー対象 -->
    <add key="CopyTarget001" value="#region"/>
    <add key="CopyTarget002" value="#endregion"/>
    <add key="CopyTarget003" value=""/>
    <add key="CopyTarget004" value=""/>
    <add key="CopyTarget005" value=""/>
    <add key="CopyTarget006" value=""/>
    <add key="CopyTarget007" value=""/>
    <add key="CopyTarget008" value=""/>
    <add key="CopyTarget009" value=""/>
    <add key="CopyTarget010" value=""/>
  </appSettings>
</configuration>