<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="DsktopDrawerApp"/>
    <!-- アプリ設定 -->
    <!-- ウィンドウサイズ -->
    <!-- Min     :最小化 -->
    <!-- Mini以外:最大化 -->
    <add key="LaunchSize" value="Min"/>
  </appSettings>
</configuration>