<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- 対象拡張子 -->
    <add key="TargetExtension" value=".txt,.py,.log"/>
    <!-- デフォルトオープンエンコード -->
    <!-- utf-8 shift_jis-->
    <add key="DefaultOpenEncode" value="shift_jis"/>
    <!-- デフォルトサイズ -->
    <add key="DefaultSizeWidth" value="300"/>
    <add key="DefaultSizeHeight" value="300"/>
  </appSettings>
</configuration>