<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- 読込む設定ファイル -->
    <add key="SettingFiles" value="./Setting/DatabaseInfo.xml,./Setting/ApplicationPptpInfo.xml,./Setting/InitialSetting.xml,./Setting/CommonInfo.xml,./Setting/MaintenancePptpInfo.xml,./Setting/ControlDatabaseConnections.xml,./Setting/VersionupInfo.xml,./Setting/DeviceCommonSetting.xml,./Setting/DeviceSetting_Simulator.xml,./Setting/RecordSetting.xml,./Setting/CultureSetting.xml,./Setting/EndBusinessTransactionLog.xml"/>
  </appSettings>
</configuration>