<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="ClipboardApp"/>
    <!-- アプリ設定 -->   
    <!-- デフォルトの通常サイズ -->
    <add key="DefaultNormalHeight" value="250"/>
    <add key="DefaultNormalWidth" value="480"/>
    <!-- デフォルト不透明度 -->
    <add key="DefaultOpacity" value="0.8"/>
    <!-- 不透明度増加値 -->
    <add key="OpacityUp" value="0.2"/>
    <!-- 不透明度減少値 -->
    <add key="OpacityDown" value="0.2"/>

    <!-- コピー対象 -->
    <add key="CopyTarget001" value="#region"/>
    <add key="CopyTarget002" value="#endregion"/>
    <add key="CopyTarget003" value=""/>
    <add key="CopyTarget004" value=""/>
    <add key="CopyTarget005" value=""/>
    <add key="CopyTarget006" value=""/>
    <add key="CopyTarget007" value=""/>
    <add key="CopyTarget008" value=""/>
    <add key="CopyTarget009" value=""/>
    <add key="CopyTarget010" value=""/>
  
  <!-- パス取得書式 -->
    <add key="GetPathStrFormat" value="{0}"/>
  </appSettings>
</configuration>