<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="ClipboardApp"/>
    <!-- アプリ設定 -->
    <!-- 起動時オン設定 -->
    <add key="IsInitMin" value="False"/>
    <!-- デフォルトの通常サイズ -->
    <add key="DefNmlHi" value="250"/>
    <add key="DefNmlWd" value="480"/>
    <!-- デフォルト不透明度 -->
    <add key="DefOpacity" value="0.8"/>
    <!-- 不透明度増加値 -->
    <add key="OpacityUp" value="0.2"/>
    <!-- 不透明度減少値 -->
    <add key="OpacityDown" value="0.2"/>

    <!-- コピー対象 -->
    <add key="CopyTgt" value="#region
#endregion"/>
  
    <!-- パス取得書式 -->
    <add key="GetPathStrFormat" value="{0}"/>

    <!-- MultiRenameApp位置 -->
    <add key="MultiRenameAppPath" value="..\MultiRenameApp.exe"/>
  </appSettings>
</configuration>