<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="ImgListApp"/>
    <!-- アプリ設定 -->
    <!-- 対象拡張子 -->
    <add key="TgtExt" value=".jpg,.jepg,.png,.tiff,.gif,.bmp,.heic"/>
    <!-- サムネイル幅 -->
    <add key="ThumbW" value="100"/>
    <!-- サムネイル高さ -->
    <add key="ThumbH" value="100"/>
    <!-- 起動アプリパス -->
    <add key="LaunchAppPath" value="C:\WINDOWS\system32\mspaint.exe"/>
  </appSettings>
</configuration>