<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- サイズ -->
    <add key="WidthZoom" value="1"/>
    <add key="HeightZoom" value="1"/>
    <add key="WidthZoomRatio" value="0.2"/>
    <add key="HeightZoomRatio" value="0.2"/>
    <add key="WidthReductRatio" value="0.25"/>
    <add key="HeightReductRatio" value="0.25"/>
    <!-- デフォルト縦サイズ(横は比率に従う) -->
    <add key="DefHightSize" value="500"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
