<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- アプリ名指定 -->
    <!-- Debug:3階層上フォルダ名称 -->
    <add key="AppName" value="Debug"/>
    <!-- アプリ設定 -->
    <!-- 再生位置移動秒デフォルト値 -->
    <add key="DefGoPosSec" value="-5"/>
    <!-- 取得再生位置確定範囲秒デフォルト値 -->
    <add key="DefCmtPosRange" value="1"/>
    <!-- 再生位置取得後巻き戻し秒デフォルト値 -->
    <add key="DefGetAftBackPos" value="3"/>
  </appSettings>
</configuration>